<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Paragon Gutter
            <br/>
        </h2>
        <p>
            THE SEAMLESS SOLUTION
        </p>
        <a target="_blank" href="https://paragongutter.dripjobs.com/appointmentrequests" class="cs-button-solid" style="border-radius: 8px;">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/portfolio/08-paragon-gutter.jpg' | resize({ height: 1000 }) | webp %}">
        <source media="(min-width: 601px)" srcset="{% getUrl '/assets/images/portfolio/08-paragon-gutter.jpg' | resize({ height: 1000 }) | webp %}">
        <img aria-hidden="true" decoding="async" src="{% getUrl '/assets/images/portfolio/08-paragon-gutter.jpg' | resize({ height: 1000 }) | webp %}" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>