<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/Paragon_Gutter_1.png" alt="logo" width="264" height="78" style="width: 20rem;height: 5rem;"></a>
            <a class="logo-dark" href="/"><img loading="lazy" decoding="async" src="/assets/images/paragon-gutter-white.png" alt="logo" width="264" height="78" style="width: 20rem;height: 5rem;"></a>
            <p>
                
            </p>
        </div>
        <div class="right-section">
            <div class="lists" >
                <ul>
                    <li >
                        <h2 class="footer-text">Information</h2>
                    </li>
                    <li>
                        <a href="/" class="footer-text">Home</a>
                    </li>
                    <li>
                        <a href="/gallery" class="footer-text">Gallery</a>
                    </li>
                    <li>
                        <a href="/giving" class="footer-text">Giving <img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/svgs/love.svg" alt="people" width="15" height="15"></a>
                    </li>
                    <li>
                        <a href="/join-team" class="footer-text">Join Team</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2 class="footer-text">Services</h2>
                    </li>
                    <li>
                        <a href="/gutter-installation" class="footer-text">Gutter Installation</a>
                    </li>
                    <li>
                        <a href="/gutter-guard" class="footer-text">Gutter Guard</a>
                    </li>
                    <li>
                        <a href="/new-construction" class="footer-text">New Construction</a>
                    </li>
                    <li>
                        <a href="/alu-rex" class="footer-text">Alu-Rex</a>
                    </li>
                    <li>
                        <a href="/custom" class="footer-text">Custom</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2 class="footer-text">Contact</h2>
                    </li>
                    <li>
                        <a href="/contact" class="footer-text">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}" class="footer-text">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}" class="footer-text">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span class="footer-text">Designed and Hand Coded by</span>
        <a href="https://betterwebsite.ai" target="_blank" rel="noopener">Better Website</a>
        <span class="copyright" class="footer-text">
            Copyright {% year %} - Present</span>
    </div>
</footer>
