<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer" style="background-color: white;">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/Paragon_Gutter_1.png" alt="logo" width="264" height="78" style="width: 20rem;height: 5rem;"></a>
            <p>
                
            </p>
        </div>
        <div class="right-section">
            <div class="lists" >
                <ul>
                    <li >
                        <h2 style="color: black;">Information</h2>
                    </li>
                    <li>
                        <a href="/" style="color: black;">Home</a>
                    </li>
                    <li>
                        <a href="/gallery" style="color: black;">Gallery</a>
                    </li>
                    <li>
                        <a href="/giving" style="color: black;">Giving<img class="cs-box-icon" loading="lazy" decoding="async" src="/assets/svgs/love.svg" alt="people" width="15" height="15"></a>
                    </li>
                    <li>
                        <a href="/join-team" style="color: black;">Join Team</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2 style="color: black;">Services</h2>
                    </li>
                    <li>
                        <a href="/gutter-installation" style="color: black;">Gutter Installation</a>
                    </li>
                    <li>
                        <a href="/gutter-guard" style="color: black;">Gutter Guard</a>
                    </li>
                    <li>
                        <a href="/new-construction" style="color: black;">New Construction</a>
                    </li>
                    <li>
                        <a href="/custom" style="color: black;">Custom</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2 style="color: black;">Contact</h2>
                    </li>
                    <li>
                        <a href="/contact" style="color: black;">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}" style="color: black;">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}" style="color: black;">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span style="color: black;">Designed and Hand Coded by</span>
        <a href="https://betterwebsite.ai" target="_blank" rel="noopener">Better Website</a>
        <span class="copyright" style="color: black;">
            Copyright {% year %} - Present</span>
    </div>
</footer>
